video-pipeline/n8n-workflows/wf10-short-form-video-pipeline.json
{
  "name": "WF10 – Short Form Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clip-video",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf10-n001",
      "name": "Webhook: Receive URL",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "notes": "Miya POSTs {\"url\": \"https://youtube.com/...\"} here to start the pipeline"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wf10-assign-url",
              "name": "url",
              "value": "={{ $json.body.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf10-n002",
      "name": "Set: Store URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5555/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wf10-n003",
      "name": "HTTP: Start Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "notes": "Calls local video_api.py server. Pipeline runs in background — OpenClaw notifies Mauriel when done."
    }
  ],
  "connections": {
    "Webhook: Receive URL": {
      "main": [
        [{ "node": "Set: Store URL", "type": "main", "index": 0 }]
      ]
    },
    "Set: Store URL": {
      "main": [
        [{ "node": "HTTP: Start Pipeline", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "video" }]
}
