video-pipeline/n8n-workflows/wf2-generate-video.json
{
  "name": "WF2 — Generate Single Video",
  "nodes": [
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vid-generate",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Generate Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const apiKey = process.env.WAVESPEED_API_KEY || '';\nconst baseUrl = 'https://api.wavespeed.ai/api/v3';\n\nconst input = $input.first().json;\nconst imageUrl = input.image_url || '';\nconst prompt = input.prompt || '';\n\nif (!imageUrl) {\n  throw new Error('image_url is required');\n}\n\n// Submit video generation task\nconst submitBody = {\n  inputs: {\n    image: imageUrl,\n    duration: 10\n  },\n  enable_safety_checker: true\n};\n\nif (prompt) {\n  submitBody.inputs.prompt = prompt;\n}\n\nconst submitRes = await fetch(`${baseUrl}/wavespeed-ai/wan-i2v-720p`, {\n  method: 'POST',\n  headers: {\n    'Authorization': `Bearer ${apiKey}`,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(submitBody)\n});\n\nconst submitData = await submitRes.json();\nif (!submitData.data || !submitData.data.id) {\n  throw new Error(`Failed to submit video task: ${JSON.stringify(submitData)}`);\n}\n\nconst taskId = submitData.data.id;\n\n// Poll every 10 seconds, max 20 attempts (200 seconds)\nlet videoUrl = null;\nlet finalStatus = 'timeout';\n\nfor (let attempt = 0; attempt < 20; attempt++) {\n  await new Promise(r => setTimeout(r, 10000));\n  const pollRes = await fetch(`${baseUrl}/predictions/${taskId}`, {\n    headers: { 'Authorization': `Bearer ${apiKey}` }\n  });\n  const pollData = await pollRes.json();\n  const status = pollData.data?.status;\n  if (status === 'succeeded') {\n    videoUrl = (pollData.data.outputs && pollData.data.outputs[0]) || null;\n    finalStatus = 'succeeded';\n    break;\n  }\n  if (status === 'failed') {\n    finalStatus = 'failed';\n    break;\n  }\n}\n\nreturn [{ json: { video_url: videoUrl, image_url: imageUrl, status: finalStatus } }];\n"
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
